.calendar-grid-header,
.calendar-grid-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
  border: 1px solid #dee2e6;
  padding: 10px;
  min-height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

/* colori diversi se weekend o no */
.weekday {
  background-color: #ffffff; 
}

.weekend {
  background-color: #ffe5e5; 
}

.empty {
  background-color: #f1f1f1;
}

.header {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: center;
}


.day {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.day:hover {
  background-color: #e2e6ea;
}

.day-number {
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .calendar-cell {
    min-height: 60px;
    font-size: 0.85rem;
  }
}

/* background */
body {
  background-image: url('../../img/calendar.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* robe varie per le icone */
.event-indicators {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

.note-icon,
.manual-icon {
  font-size: 1.5rem;
}

.note-icon {
  color: #0d6efd;    
}

.manual-icon {
  color: #198754;    
}


