html body {
  background-color: #add8e6; /* Azzurro chiaro */
  margin: 0;
  height: 100vh;
}

.section-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.section-box:hover {
  width: 200px;
  height: 200px;
}

.preview-content {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 0.8em;
  transition: opacity 0.3s ease-in-out;
}

.section-box:hover .preview-content {
  opacity: 1;
}
